<h1>Welcome {{ firstname }}!</h1>

<p style="color: red;">
    Bonjour {{ firstname }},<br/>
    Vous avez demandé à réinitialiser votre mot de passe sur la boutique française.<br/><br/>

    Cliquez sur le lien suivant pour le <a href="{{ app.request.getSchemeAndHttpHost() }}{{ url }}">reset password</a>.";<br>
    <hr>
    A très vite sur <a href="{{ app.request.getSchemeAndHttpHost() }}">La Boutique Française</a>.
</p>